<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssured API Tests" verbose="1" parallel="tests" thread-count="1" configfailurepolicy="continue">

    <listeners>
        <listener class-name="com.restassured.listeners.Transformer" />
    </listeners>

    <test name="API Tests" annotations="JDK" preserve-order="true">

        <classes>
            <class name="com.restassured.testcases.RestAssuredExampleTestCases"/>
        </classes>

    </test>
</suite>